body {
  font: 14px "Century Gothic", Futura, sans-serif;
}

.WeatherData {
  background-color: blanchedalmond;
}

.FavoriteItem {
  width     : 45%;
  text-align: justify;
}

.FavoriteContainer {
  width          : 99%;
  display        : flex;
  flex-wrap      : wrap;
  flex-direction : row;
  justify-content: space-around;
}

.WeatherTop {
  display        : flex;
  justify-content: flex-start;
}

.WeatherMainEl {
  display         : flex;
  justify-content : space-between;
  background-color: #999;
  margin          : 5px;
}

.WeatherParam {
  font-weight: bold;
}

.TopCityWeather {
  width       : 90%;
  margin-left : auto;
  margin-right: auto;
}

.TopCityWeather .WeatherData {
  display: flex;
}

.TopCityWeather .WeatherMain {
  width: 50%;
}

.TopCityWeather .WeatherTop {
  width: 50%
}
