.TopCityWeather {
    width       : 90%;
    margin-left : auto;
    margin-right: auto;

}

.TopCityWeather .WeatherData {
    display: flex;
}

.TopCityWeather .WeatherMain {
    width: 50%;
}

.TopCityWeather .WeatherTop {
    width  : 50%;
    padding: 10px;

}

.TopCityWeather .WeatherTop img {
    width     : 30%;
    text-align: left;
    object-fit: contain;
}

.TopCityWeather .WeatherTop h2 {
    width    : 100%;
    font-size: 40px;
}

.UpperWeather button.btn {
    display      : block;
    margin       : auto;
    margin-bottom: 5px;
}